html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
svg {
    fill: #3d474e;
}

a {
    text-decoration: none;
}

body {
    height: 1000px;
}

:root {
    --primary: #2f4771;
    --secondary: rgb(61, 168, 223);
    --tertiary: rgb(255, 255, 255);

    --dark: rgb(0, 0, 0);

    --transition: 0.15s ease-in-out;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
    font-size: 13px;
}

#backToTop:hover {
    background-color: var(--primary);
}

.container {
    background-image: url('./images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    opacity: 0.9;
    height: 100vh;
}


.nav-btn {
    background-color: #eef0f2;
    height: 60px;
    width: 60px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.nav-btn:hover {
    width: 120px;
    background: #0558b2;
}

.nav-data {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-btn:hover .nav-data {
    display: flex;
    opacity: 1;
    color: #eff5f7;
    padding-left: 10px;
}

.nav-btn:hover svg {
    fill: #eff5f7;
}

.header {
    position: fixed;
    height: 100vh;
    width: 10%;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    gap: 1rem;
}

.hero-name {
    font-size: 42px;
    color: #3d464f;
    font-weight: 500;
    width: fit-content;
    margin-top: 300px;
}

.hero-desc {
    font-size: 20px;
    color: #3d464f;
    font-weight: 500;
    margin-top: 4%;
}

.hero {
    margin-left: 100%;
    width: max-content;
}

.head-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero-desc span {
    color: blue;
}

.socials {
    display: flex;
    gap: 2rem;
    margin-top: 10%;
}

.x:hover svg {
    fill: black;
    cursor: pointer;
}

.fb:hover svg {
    fill: #3b5998;
    cursor: pointer;
}

.insta:hover svg {
    fill: #e4405f;
    cursor: pointer;
}

.skype:hover svg {
    fill: #4078c0;
    cursor: pointer;
}

.linkedin:hover svg {
    fill: #0e76a8;
    cursor: pointer;
}


.container2 {
    background-color: #fefefe;
    width: 100%;
    height: 100vh;
}

.head-ab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    font-size: 42px;
    color: #3b4650;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.text-ab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    font-size: 0.8rem;
    color: #3b4650;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.text-ab section {
    width: 80%;
    text-align: center;
}

.aur-data {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iska-data {
    width: 80%;
    height: 80%;
    display: flex;
}

.profile {
    background: url('./images/profile-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    min-width: 400px;
    height: 90%;
    border-radius: 10px;
}

.me {
    padding-left: 20px;
    font-weight: 600;
}

.mehead {
    font-size: 28px;
    color: #687689;
}

.more-data {
    font-size: 14px;
    color: #232323;
    font-weight: 500;
    margin-top: 3%;

}


.me ul {
    font-weight: 500;
    margin-top: 3%;
    color: #232323;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 20px;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 20px;
}

.even-more-content {
    font-weight: 500;
    margin-top: 5%;
    color: #232323;
    font-size: 14px;
}

.container3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.res-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: red;
}

.container6 {
    width: 100%;
    height: 80vh;
}

.cnt {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ct-links {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding-left: 50px;
}

.ct-forms {
    width: 50%;
    height: 100%;
    padding-top: 5%;
}

.link-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link {
    display: flex;
}

.link:hover .link-icon {
    cursor: pointer;
    background-color: #0558b2;
    transition: background-color 0.3s ease-in-out;
}

.link:hover svg {
    fill: white;
}

.link-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #eaf5fe;
    padding: 2px;   
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    height: 30px;
}

.link-text {
    font-size: 20px;
    color: #3a4751;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.link-desc {
    font-size: 12px;
    color: #72808c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.ig-1 {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ig-1 input {
    width: 45%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9ca9b3;
    padding-left: 10px;
    font-size: 12px;
    color: #3a4751;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    outline: none;
}

.ig-2 {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ig-2 input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9ca9b3;
    padding-left: 10px;
    font-size: 12px;
    color: #3a4751;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    outline: none;
}

.ig-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}

.ig-3 textarea {
    height: 80%;
    width: 95%;
    outline: none;
    border: 1px solid #9ca9b3;
    padding: 10px;
}

.submitter {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    width: 30%;
    background-color: #0558b2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
    color: white;
}

.submit-btn:hover {
    width: 40%;
}


.footer {
    width: 100%;
    height: 40vh;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.container-test {
    width: 100%;
    height: 60vh;
}

.testi-head {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    color: #3a4751;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer .name {
    font-size: 2rem;
    color: #3a4751;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.footer .desc {
    font-size: 14px;
    color: #72808c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.ftsocials {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.social {
    height: 100%;
    width: 45px;
    border-radius: 500px;
    background-color: #0558b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social svg {
    fill: #fdfefb;
}


.copyright {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #454545;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.designed-by {
    font-size: 13px;
    color: #454545;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}



.monas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.img-cnt {
    width: 70px;
    height: 70px;
    border-radius: 500px;
    margin-bottom: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30vh;
    box-sizing: border-box;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrow {
    cursor: pointer;
    font-size: 24px;
    color: #1a1a1a;
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.testimonial .name {
    font-size: 22px;
    color: #1a1a1a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.testimonial .pos {
    font-size: 14px;
    color: #1a1a1a;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.testimonial .review {
    width: 80%;
    font-size: 15px;
    text-align: center;
    color: #1a1a1a;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.ch {
    font-size: 1.5rem;

}

.cd {
    width: 80%;
    text-align: center;
}
.holder {
    display: flex;
    justify-content: center;
}

.resume-container {
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

.rcleft {
    height: 100%;
    width: 40%;
}

.rcright {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prof-head {
    font-size: 28px;
}

.prof-desc-1 {
    margin-top: 5%;
}

.port-holder {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ph1 {
    height: 100%;
    width: 25%;
    background-color: #eaf5fe;
}

.ph1:hover{
    cursor: pointer;
    background-color: #0558b2;
    opacity: 0.6;
    transition: background-color 0.3s ease-in-out;
}


.portfolio-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.portfolio-content-text {
    text-align: center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.tab-button {
    padding: 0.25rem 0.75rem;
    border: none;
    border-radius: 0.75rem;
    background-color: transparent;
    color: var(--dark);
    font-weight: 600;
    cursor: pointer;
    font-size: 0.75rem;
}

.tab-button:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
}

.tab-button-active {
    background-color: var(--secondary);
    color: var(--tertiary);
}

.tabs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
}

.tab {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}

.tab>.column {
    padding: 0;
    width: 33%;
}

.tab>.column>img {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    transform: scale(1);
}

.tab>.column>img:hover {
    transform: scale(1);
    z-index: 50;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.services-content-text {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.card {
    padding: 2rem;
    background-color: var(--tertiary);
    color: var(--dark);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.card:hover {
    transform: scale(1.1);

}

.card-icon {
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 0.75rem;
}

.card-content {
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark);
    margin-bottom: 1rem;
}

.card-content>.card-content-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    color: var(--primary);
}

.card-content>.card-content-text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--dark);
    opacity: 0.65;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(104, 103, 103);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

* {
    scrollbar-width: thin;
    scrollbar-color: black #f1f1f1;
}